body {
    background-color: rgb(174, 175, 179);
}

.srchbtn {
display: flex;
align-items: center;
justify-content: left;
}

.searches {
display: inline-grid;
align-items: center;
justify-content: left;
}