* body {
    background-color: #333;
    font-family: "roboto", sans-serif;
}

.Container {
    max-width: 25%;
    margin: auto;
    display: flex;
}

.h1, h1 {
    color: aqua;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

h2 {
    color: white;
    font-size: x-large;
    font-family: none;
}

div#srchbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}


.grid-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 99%;
}

.card {
    box-shadow:.5rem .5rem 1rem rgb(255, 255, 255);
    background-color: dimgray;
   
}

label {
    color: rgb(255, 255, 255);
    display: flex;
    margin: 5px;
    font-size: 0.975rem;
    font-weight: 400;
    line-height: 0.8;
}

.cell {
    display: grid;
}

.card>:last-child {
    margin-bottom: 0px;
    object-fit: cover;
    height: 100%;
}

.bmicard {
    color: white;
}

#bmiCalcBtn {
    border-radius: 25px;
}

#recBtnDiv {
    display: flex;
    justify-content: center;
}

#recipesBtn {
    border-radius: 25px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    /* position: fixed; 
    top: 0;
    width: 100%; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .srchbtn {
    display: flex;
    align-items: center;
    justify-content: left;
    }

    .menu {
        font-size: 3rem;
    }